{% if section.settings.overlay == "black" %}
{% assign bg_hex = "#000000" %}
{% elsif section.settings.overlay == "background1" %}
{% assign bg_hex = "{{ background1_color }}" %}
{% elsif section.settings.overlay == "background2" %}
{% assign bg_hex = "{{ background2_color }}" %}
{% elsif section.settings.overlay == "background3" %}
{% assign bg_hex = "{{ background3_color }}" %}
{% elsif section.settings.overlay == "accent1" %}
{% assign bg_hex = "{{ accent1_color }}" %}
{% elsif section.settings.overlay == "accent2" %}
{% assign bg_hex = "{{ accent2_color }}" %}
{% endif %}

{% if section.settings.opacity == "0" %}
{% assign bg_opacity = "00" %}
{% elsif section.settings.opacity == "10" %}
{% assign bg_opacity = "1A" %}
{% elsif section.settings.opacity == "20" %}
{% assign bg_opacity = "33" %}
{% elsif section.settings.opacity == "30" %}
{% assign bg_opacity = "4D" %}
{% elsif section.settings.opacity == "40" %}
{% assign bg_opacity = "66" %}
{% elsif section.settings.opacity == "50" %}
{% assign bg_opacity = "80" %}
{% elsif section.settings.opacity == "60" %}
{% assign bg_opacity = "99" %}
{% elsif section.settings.opacity == "70" %}
{% assign bg_opacity = "B3" %}
{% elsif section.settings.opacity == "80" %}
{% assign bg_opacity = "CC" %}
{% elsif section.settings.opacity == "90" %}
{% assign bg_opacity = "E6" %}
{% elsif section.settings.opacity == "100" %}
{% assign bg_opacity = "FF" %}
{% endif %}
<div class="image-with-text section-{{ section.id }}{% if section.settings.background_image != blank %} bg-image{%else%} bg-color{% endif %} container-fluid gx-0">
<div class="container{% if section.settings.fullwidth %}-fluid p-0{%endif%} my-{{ section.settings.margin }} gx-0">
    <div class="row gx-0">
       <div class="col-12 col-lg-6 d-block d-lg-flex flex-lg-column text-center justify-content-lg-{{ section.settings.image_position_vertical }} align-items-lg-{{ section.settings.image_position_horizontal }} order-first image-col{%if section.settings.layout == "2" %} order-lg-last{%endif%}" style="min-height: 250px;">
         {% if section.settings.image != blank %}
               <img style="width: {{ section.settings.image_width }}%" src="{{ section.settings.image | image_url }}" class="img-fluid" alt="{{ section.settings.alt }}" />
       {% endif %}
       </div>
       <div class="col-12 col-lg-6 d-block d-lg-flex flex-lg-column justify-content-lg-{{ section.settings.text_position }} text-col text-{{ section.settings.content_alignment }} order-last{%if section.settings.layout == "2" %} order-lg-first{%endif%}">
         {% if section.settings.heading != blank %}
         <h2 class="mb-3 {{ section.settings.heading_size }} text-{{ section.settings.content_color }}">{{ section.settings.heading }}</h2>
         {% endif %}
         {% if section.settings.content != blank %}
         <div class="mb-4 text-{{ section.settings.content_color }}">{{ section.settings.content }}</div>
         {% endif %}
         {% if section.settings.btn_label != blank and section.settings.btn_label2 == blank %}
         <div class="d-lg-flex justify-content-lg-start">
         <a class="btn btn-{{ section.settings.btn_color }} btn-{{ section.settings.btn_size }}" tabindex="-1" role="button" href="{{ section.settings.btn_link }}">
             {{ section.settings.btn_label }}
         </a>
         {% elsif section.settings.btn_label2 != blank %}
         <div class="d-flex justify-content-{{ section.settings.content_alignment }}">
             <a class="btn btn-{{ section.settings.btn_color }} btn-{{ section.settings.btn_size }}" tabindex="-1" role="button" href="{{ section.settings.btn_link }}">
             {{ section.settings.btn_label }}
         </a>
            <a class="btn btn-{{ section.settings.btn_color2 }} btn-{{ section.settings.btn_size }} ms-3" tabindex="-1" role="button" href="{{ section.settings.btn_link2 }}">
             {{ section.settings.btn_label2 }}
         </a>
         </div>
           {% else %}
         {% endif %}
       </div>
     </div>
   </div>
</div>
</div>
{% styles %}
.section-{{ section.id }} {
    padding: {{ section.settings.padding }} 0;
}

.section-{{ section.id }}.bg-color {
        background: {{ bg_hex }}{{ bg_opacity }};
    }

.section-{{ section.id }}.bg-image {
        background: linear-gradient({{ bg_hex }}{{ bg_opacity }}, {{ bg_hex }}{{ bg_opacity }}), url({{ section.settings.background_image | image_url:'1600x1600' }});
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
}

.image-with-text ul li {
    font-size: 1rem;
    line-height: 1.6;
}

.image-with-text .order-lg-first, .image-with-text .order-first {
    padding-right: 3rem!important;    
}

.image-with-text .order-lg-last, .image-with-text .order-last {
    padding-left: 3rem!important;
}

{% if section.settings.fullwidth == true %}
.image-with-text .text-col {
    padding: 3rem 5rem!important;
}

.image-with-text .image-col {
    padding: 0!important;
}
{% endif %}

@media screen and (max-width: 768px) {
    .image-with-text {
        padding: 0;
    }
    
    .image-with-text img[style] {
        width: 100%!important;
    }
    
    .image-with-text .order-first {
        padding-right: 0!important;    
    }
    
    .image-with-text .order-last {
        padding: 3rem 1.5rem!important;    
    }
}
 
{% endstyles %}
   
   {% schema %}
   {
       "name": "Two Column Text with Image and Buttons",
       "description": "Section containing 1 column for image and 1 column for content with text and button.",
       "settings": [
       {
           "type": "checkbox",
           "id": "fullwidth",
           "label": "Full Width"
       },
       {
           "type": "select",
           "id": "margin",
           "label": "Section Margin",
           "default": "0",
           "options": [
           {
               "label": "None",
               "value": "0"
           },
           {
               "label": "Small",
               "value": "1"
           },
           {
               "label": "Medium",
               "value": "3"
           },
           {
               "label": "Large",
               "value": "5"
           }]
       },
       {
        "type": "select",
        "id": "padding",
        "label": "Section Padding",
        "default": "80px",
        "options": [
        {
        "label": "None",
        "value": "0"
        },
        {
        "label": "Small",
        "value": "40px"
        },
        {
        "label": "Medium",
        "value": "80px"
        },
        {
        "label": "Large",
        "value": "120px"
        }]
        },
       {
           "type": "select",
           "id": "layout",
           "label": "Layout",
           "default": "2",
           "options": [
           {
               "label": "Image Left",
               "value": "1"
           },
           {
               "label": "Image Right",
               "value": "2"
           }]
       },
       {
            "type": "image_picker",
            "id": "background_image",
            "label": "Background Image"
        },
        {
            "type": "select",
            "id": "overlay",
            "label": "Background Color",
            "default": "background3",
            "options": [
                {
                    "label": "Black",
                    "value": "black"
                },
                {
                    "label": "Background 1",
                    "value": "background1"
                },
                {
                    "label": "Background 2",
                    "value": "background2"
                },
                {
                    "label": "Background 3",
                    "value": "background3"
                },
                {
                    "label": "Accent 1",
                    "value": "accent1"
                },
                {
                    "label": "Accent 2",
                    "value": "accent2"
                }
            ]
        },
        {
                "type": "range",
                "id": "opacity",
                "label": "Background Color Opacity",
                "default": 0,
                "min": 0,
                "max": 100,
                "step": 10
        },
       {
           "type": "image_picker",
           "id": "image",
           "label": "Image Upload",
           "default": "placeholder.webp"
       },
       {
            "type": "range",
            "id": "image_width",
            "label": "Image Size",
            "default": 100,
            "min": 25,
            "max": 100,
            "step": 5
        },
       {
           "type": "text",
           "id": "alt",
           "label": "Image Alt Text"
       },
       {
            "type": "select",
            "id": "image_position_vertical",
            "label": "Vertical Image Position",
            "default": "center",
            "options": [
                {
                    "label": "Top",
                    "value": "top"
                },
                {
                    "label": "Center",
                    "value": "center"
                },
                {
                    "label": "Bottom",
                    "value": "bottom"
                }
            ]
        },
        {
            "type": "select",
            "id": "image_position_horizontal",
            "label": "Horizontal Image Position",
            "default": "center",
            "options": [
                {
                    "label": "Left",
                    "value": "start"
                },
                {
                    "label": "Center",
                    "value": "center"
                },
                {
                    "label": "Right",
                    "value": "end"
                }
            ]
        },
        {
            "type": "select",
            "id": "text_position",
            "label": "Text Position",
            "default": "center",
            "options": [
                {
                    "label": "Top",
                    "value": "start"
                },
                {
                    "label": "Center",
                    "value": "center"
                },
                {
                    "label": "Bottom",
                    "value": "end"
                }
            ]
        },
        {
            "type": "select",
            "id": "content_alignment",
            "label": "Text Alignment",
            "default": "start",
            "options": [
                {
                    "label": "Left",
                    "value": "start"
                },
                {
                    "label": "Center",
                    "value": "center"
                },
                {
                    "label": "Right",
                    "value": "end"
                }
            ]
        },
        {
            "type": "select",
            "id": "content_color",
            "label": "Text Color",
            "default": "default",
            "options": [
                {
                    "label": "Default",
                    "value": "default"
                },
                {
                    "label": "Inverse",
                    "value": "inverse"
                }
            ]
        },
       {
           "type": "text",
           "id": "heading",
           "default": "Lorem ipsum",
           "label": "Heading"
       },
       {
            "type": "select",
            "id": "heading_size",
            "label": "Heading Size",
            "default": "h2",
            "options": [
                {
                    "label": "H1",
                    "value": "h1"
                },
                {
                    "label": "H2",
                    "value": "h2"
                },
                {
                    "label": "H3",
                    "value": "h3"
                }
            ]
        },
       {
           "type": "richtext",
           "id": "content",
           "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
           "label": "Text"
       },
       {
           "type": "text",
           "id": "btn_label",
           "default": "Button 1",
           "label": "Button 1 Label"
       },
       {
           "type": "text",
           "id": "btn_link",
           "label": "Button 1 Link"
       },
       {
           "type": "select",
           "id": "btn_color",
           "default": "default-text",
           "label": "Button 1 Type",
           "options": [
                    {
                        "label": "Solid",
                        "value": "solid"
                    },
                    {
                        "label": "Outline",
                        "value": "outline"
                    },
                    {
                        "label": "Inverse Outline",
                        "value": "inverse-outline"
                    },
                    {
                        "label": "Default Text",
                        "value": "default-text"
                    },
                    {
                        "label": "Inverse Text",
                        "value": "inverse-text"
                    }]
       },
       {
           "type": "text",
           "id": "btn_label2",
           "label": "Button 2 Label"
       },
       {
           "type": "text",
           "id": "btn_link2",
           "label": "Button 2 Link"
       },
       {
           "type": "select",
           "id": "btn_color2",
           "label": "Button 2 Type",
           "options": [
                    {
                        "label": "Solid",
                        "value": "solid"
                    },
                    {
                        "label": "Outline",
                        "value": "outline"
                    },
                    {
                        "label": "Inverse Outline",
                        "value": "inverse-outline"
                    },
                    {
                        "label": "Default Text",
                        "value": "default-text"
                    },
                    {
                        "label": "Inverse Text",
                        "value": "inverse-text"
                    }]
       }
       
   ]
   }
   {% endschema %}